@theme {
  --font-inter: 'Inter Tight', serif;

  /* --color-theme-brand-primary: #db0000;
  --color-theme-brand-secondary: #fff100;
  --color-theme-brand-tertiary: #ffffff;

  --color-theme-border-primary: #dfe2e1;

  --color-theme-primary: #f0f3f2;
  --color-theme-secondary: #5c6c75;
  --color-theme-white: #ffffff;
  --color-theme-gray: #5c6c75;
  --color-theme-black: #001e2b;
  --color-theme-surface: #f0f3f2;

  --animate-accordion-down: slideDown 0.2s ease-out;
  --animate-accordion-up: slideUp 0.2s ease-out;

  @keyframes slideDown {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }

  @keyframes slideUp {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  } */
}
